<!-- <div class="container"> -->
  <!-- <div class="row"> -->
    <div class="d-flex flex-row justify-content-center p-5 bg-warning mt-2">
      <h1 class="text-white">Parent Component</h1>
   <!-- </div> -->
  </div>
<!-- </div> -->
<div class="container border border-black border-2 bg-light">
  <div class="row">
    <div class="col-12">
        <div class="d-flex flex-column align-items-center border border-black mt-2 bg-white">
          <h1>Register Component</h1>
         <app-register (myEvent)="GetData($event)"></app-register>
        </div>
        <div class="d-flex flex-column align-items-center border border-black mt-2 bg-white">
          <h1>Students Component</h1>
          <app-students [DataFromParent]="AllStudents"></app-students>
        </div>
    </div>
  </div>
</div>
